
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-right" href="/logout">Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Welcome<span class="member-name">{{{username}}}</span></h2>
      </div>
    </div>
    <!--- Alerts will appear here -->
    <div class="row">
      <div class="col-xl-12 col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <p>TEST: I am an alert</p>
        {{#each dbName}}
          {{>alert}}
        {{/each}}
      </div>
    </div>
    <!-- Where you will enter a city -->
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h4>Search City:</h4>
        <form class="form-inline">
        <input type="text">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="search-button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg></button>
        </div>
        </form>
        <ul>
          <li>TEST: CITY HERE</li>
          {{#each dbName}}
          {{/each}}
        </ul>
      </div>
       <!-- Google Map Div--> 
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <p>TEST: GOOGLE MAP HERE</p>
        <div id="map"></div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>


